defaults
    timeout connect         5s
    timeout client          30s
    timeout server          30s
    log                     global

frontend kubernetes_api
    bind 0.0.0.0:6443
    default_backend kubernetes_api

backend kubernetes_api
    balance roundrobin
    option ssl-hello-chk
    server bootstap bootstrap.{{ cluster_id }}.{{ cluster_domain }}:6443 check
    {% for master in masters %}
    server {{ master.name}} {{ master.fqdn }}:6443 check
    {% endfor %}

frontend machine_config
    bind 0.0.0.0:22623
    default_backend machine_config

backend machine_config
    balance roundrobin
    option ssl-hello-chk
    server bootstrap bootstrap.{{ cluster_id }}.{{ cluster_domain }}:22623 check
    {% for master in masters %}
    server {{ master.name}} {{ master.fqdn }}:22623 check
    {% endfor %}

frontend router_https
    bind 0.0.0.0:443
    default_backend router_https

backend router_https
    balance roundrobin
    option ssl-hello-chk
    {% for worker in workers %}
    server {{ worker.name }} {{ worker.fqdn }}:443 check
    {% endfor %}

frontend router_http
    mode http
    option httplog
    bind 0.0.0.0:80
    default_backend router_http

backend router_http
    mode http
    balance roundrobin
    {% for worker in workers %}
    server {{ worker.name }} {{ worker.fqdn }}:80 check
    {% endfor %}

