default master
prompt 0
timeout 1

label master
 kernel /openshift{{ openshift_version }}/{{ openshift_version }}/rhcos-installer-kernel-x86_64 
 append ip=dhcp rd.neednet=1 coreos.inst.install_dev=vda console=tty0 console=ttyS0 coreos.inst=yes coreos.inst.image_url=http://{{ bastion.address }}:8080/openshift{{ openshift_version }}/{{ openshift_version }}/images/rhcos-metal.x86_64.raw.gz coreos.inst.ignition_url=http://{{ bastion.address }}:8080/openshift{{ openshift_version }}/{{ openshift_version }}/ignitions/master.ign initrd=/openshift{{ openshift_version }}/{{ openshift_version }}/rhcos-installer-initramfs.x86_64.img
